@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
// @import "icons.scss";
@import "mixins.scss";

@import "./components/**/*.scss";

body {
  font-family: $font-main;
  max-width: $maxWidthContainer;
  //   color: #21243d;
}

.wrapper {
  width: 100%;

  //   min-height: 100%;
  height: 100vh;
  //   min-height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.page {
  // - #{$footer-height}
  height: calc(100vh - #{$header-height});
  flex: 0 1 83.3%;
}

// ._container {
//   box-sizing: border-box;
//   padding: 0 148px;

//   @media (max-width: 1151px) {
//     padding: 0 12.8%;
//   }
//   @media (max-width: $md3+px) {
//     padding: 0 6%;
//   }
//   @media (max-width: $md4+px) {
//     padding: 0 10px;
//   }

//   &-blog,
//   &-works,
//   &-work {
//     padding: 0 234px;

//     @media (max-width: 1151px) {
//       padding: 0 20.3%;
//     }
//     @media (max-width: $md3+px) {
//       padding: 0 10%;
//     }
//     @media (max-width: $md4+px) {
//       padding: 0 18px;
//     }
//   }
// }

// @media (max-width: 1151px) {
//   .page {
//     padding: 0 12.8%;
//   }
// }
