:root {
//   --font-body: 'Google Sans';
  --icon-font-size: 30px;
}

// $fontFamily: var(--font-body);

// $minWidth: 320px;
// // // для работы адаптивного шрифта. адаптивных свойств
// // $maxWidth: 1152;
$maxWidthContainer: 1440px;
// // // чтобы немного ранее сработал
// $md1: $maxWidthContainer + 12;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;

$header-height: 75px;
// $footer-height: 182px;
// height: 990px;
// width: 1440px; 

$font-main: 'Open Sans';
$font-secondary: Actor;
$font-additional: Montserrat;


// $md1: $maxWidthContainer + 12;
$md2: 1280;
$md3: 1152;
$md4: 860;