.charts {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.16%;
    // from 1200px
    margin: 23px 8.58% 50px 5.4%;
  }
}

.chart {
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: 1;
  //   // height: calc(100% - 20px);
  //   height: 5px;
  //   width: 100%;
  //   // top: 10px;
  //   // right: -1px;
  //   // width: 5px;
  //   background: #666;
  //   bottom: 5px;
  // }

  &__container {
    min-width: 0;
    width: 100%;
    padding-bottom: 5px;
    height: 97px;
    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4px;

    // :horizontal
    &::-webkit-scrollbar {
      display: block;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(61, 12, 101);
      border-right: none;
      border-left: none;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track-piece:end {
      background: transparent;
      // margin-bottom: 10px;
    }

    &::-webkit-scrollbar-track-piece:start {
      background: transparent;
      // margin-top: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // color: red;
    &:hover {
      cursor: pointer;
    }
  }

  &__block {
    &:hover {
      opacity: 0.9;
    }
  }

  &__month {
    color: #797c8c;

    font-weight: normal;
    font-size: 10px;
    line-height: 13 / 10 * 100%;
    text-align: center;

    margin-top: 9px;
  }
}
