.races {
  //   display: flex;

  flex: 0 1 486px;

  //   width: 486px;
  height: 196px;

  //   &__icon-dd {
  //   }

  &__container {
    padding: 23px 37px;

    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: $font-main;
    font-weight: bold;
    font-size: 16px;
    line-height: 20 / 16 * 100%;
    color: #000000;
  }

  &__content {
    margin: 0 7.8%;
    // flex-grow: 1;
    // flex-shrink: 1;
    // max-width: 410px;
    flex: 0 1 calc(100% - 7.8% * 2);
    min-width: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;

    // @media (max-width: $md2+px) {
    //   flex-direction: column;
    // }
  }

  &__chart {
    // margin-left: 13.5%;
    // margin-left: 13.5%;

    // margin-left: auto;
    min-width: 0;
    // max-width: 58.46%;
    display: flex;
    // flex-shrink: 1;
    // width: 58.46%;

    // width: 284px;
    // flex: 0 1 58.46%;
    flex: 0 1 58.46%;
    height: 92px;
    //  +10px for track of scrollbar

    // overflow-y: scroll;
    // overflow-x: scroll;
    // background-color: rgb(230, 223, 223);
    // @media (max-width: $md2+px) {
    //   flex: 0 1 100%;
    // }
  }

  &__info {
    margin-right: 16.09%;
    @media (max-width: $md3 + px) {
      margin-right: 8%;
    }
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    flex: 0 1 20%;
    @media (max-width: $md3 + px) {
      flex: 0 1 25%;
    }
    // flex-shrink: 1;
    // max-width: 82px;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    &-count {
      font-size: 20px;
      line-height: 25 / 20 * 100%;
      letter-spacing: -0.07em;
      color: #000000;
      @media (max-width: $maxWidthContainer) {
        font-size: 14px;
      }
      @media (max-width: $md3 + px) {
        font-size: 12px;
      }
    }
    &-difference {
      display: flex;
      align-items: center;

      font-size: 16px;
      line-height: 20 / 16 * 100%;
      margin-top: 6px;
      &-percent {
        margin-left: 4px;
      }

      @media (max-width: $maxWidthContainer) {
        font-size: 12px;
      }
      @media (max-width: $md3 + px) {
        font-size: 10px;
      }
      // &.increasing {
      //   color: #13cd3c;
      //   & > img {
      //     background: url("~@static/icons/differ-indicator-up.svg");
      //     //    width:100%;
      //   }
      // }
      // &.decreasing {
      //   color: #0e0c0d;
      //   // & > img {
      //   //   background: url("~@static/icons/differ-indicator-down.svg");
      //   //   //   can fill svg inside if nessesary
      //   // }
      // }
    }
  }
}
